<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body {
        font-style: initial;
        font-family:fantasy;
    }
    /*
    input[type=text]{
        background:#F7DA63;
    }
    input[type=password]{
        background:#F7DA63;
    }
    input[type=number]{
        background:#F7DA63;
    }
    select {
        background:#F7DA63;
    } */
    
    </style> 

        <title>
            &#127976 Twinkles-
            {% block title_block %}
                We grow ,We laugh ,We learn
            {% endblock %}
        </title>
       
            <script src="{% static 'images/jquery.js' %}"></script>
            <script>
                $(document).ready(function(){
                
                    $("#div").fadeIn("5000");
                  
                });
                </script>  
    </head>
    <body>
        <div>
            {% if user.is_authenticated %}
                Hai {{ user.username }}!
            {% else %}
                hey there Guest!
            {% endif %}
            {% block body_block %}
            
            {% endblock %}
        </div>
        <hr/>
        <div>
            <a href="{% url 'index' %}"><p style="font-size: medium;">&#127960Home</p></a><br/>
            <a href="{% url 'user_login' %}"><p style="font-size: medium;">&#127960StaffLogin</p></a><br/>
            <a href="{% url 'user_logout' %}"><p style="font-size: medium;">&#127960StaffLogout</p></a><br/>
            <!-- <a href="{% url 'user_register' %}"><p style="font-size: medium;">&#127960StaffRegister</p></a><br/> -->
            <a href="/twinkle/about/"><p style="font-size: medium;">&#128587Leadership</p></a><br/>
            <a href="/twinkle/parents/"><p style="font-size: medium;">&#128107Parents</p></a><br/>
            <a href="/twinkle/children/"><p style="font-size: medium;">&#128539Children</p></a><br/>
            <a href="/twinkle/register/"><p style="font-size: medium;">&#128395Register</p></a><br/>
            <a href="/twinkle/addpayments/"><p style="font-size: medium;">&#128176Payments</p></a>
        </div>
    </body>
</html>