<!DOCTYPE html>
{% load staticfiles %}
{% load twinkle_template_tags %}
<html>
    <head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            Twinkles-
            
                We grow ,We laugh ,We learn
            
        </title>
        <style>
            table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                            }
        </style>
    </head>
    <body>
        <div>
            <h1>Defaulters</h1>
            <form action="{% url 'defaulters' %}" method="get">
                <label>From</label>
                <input name="StartDate" type="date" >
                <label>To</label>
                <input name="EndDate" type="date" >
               
                
                <input type="submit" name="submit" value="Search"/>
                </form>
                <table id="TheyGarraPay" style="width: auto;">
                    <ul>
                    
                    <tr>
                        <th>childid</th>
                        <th>firstname</th> 
                        <th>lastname</th>
                        <th onclick="sortTable(1)">class</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                    {% with balance=0 %}
                    {% endwith %}
                    {% for x in specifics %}
                        
                        <tr>
                            
                            <td>{{ x.id}}</td>
                            <td>{{ x.firstname }} </td>
                            <td>{{ x.lastname }}</td>
                            <td>{{ x.classlevel }}</td>
                            <td>{{ x.amount }}</td>
                            {% with campus=x.campus %}
                            {% endwith %}
                            {% with time_of_study=x.time_of_study %}
                            {% endwith %}
                            {% with amount=x.amount %}
                            {% endwith %}
                            <td>{{ balance|check:x }}</td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
        <hr/>
        <div>
            <a href="{% url 'index' %}">Home</a><br/>
            <a href="/twinkle/about/">Leadership</a><br/>
            <a href="/twinkle/parents/">Parents</a><br/>
            <a href="/twinkle/children/">Children</a><br/>
            <a href="/twinkle/register/">Register</a><br/>
            <a href="/twinkle/addpayments/">Payments</a>
        </div>
        <script>
            function sortTable(n){
    var table,rows,switching,i,x,y,shouldSwitch,dir,switchcount = 0;
    table = document.getElementById("TheyGarraPay");
    switching=true;
    //set the sorting direction to ascending
    dir = "asc";
    /* make a loop that will continue until no switching was done: */
    while(switching){
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*loop through all the table rows(except the first ,which is contains the table headers):*/
        for (i=1;1<(rows.length-1);i++){
            //Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements that i want to compare,one from the current row and one from the next: */
            x = rows[i].getElementByTagName("td")[n];
            y = rows[i+1].getElementByTagName("td")[n];
            /* check if the two rows should switch place,based on the direction ,asc or desc: */
            if (dir == "asc"){
                if(x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()){
                    //if so ,mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    //if so ,mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if(shouldSwitch){
            /* if a switch has marked ,make the swtich and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i+1],rows[i]);
            switching = true;
            //Each time a switch is done,increase this count by 1:
            switchcount++;
        }else{
            /*if no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again .*/
        if(switchcount == 0 && dir == "asc"){
            dir = "desc";
            switching = true;
        }   
        }
    }

}
        </script>
    
    </body>
</html>
