<!DOCTYPE html>
{% load staticfiles %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <title>Twinkles</title>
        <style>
            table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                            }
        </style>
    </head>
    <body>
        <h1>Parents</h1>
            
        <h1> Delete Parent</h1>
        <form method="post">{% csrf_token %}
            Are you sure you want to delete "{{ object }}" ?
            <input type="submit" value="Submit" />
        </form>
        </div> 

       <hr/>
       <div>
        <a href="{% url 'index' %}">Home</a><br/>

        <a href="/twinkle/about/">Leadership</a><br/>
        <a href="/twinkle/parents/">Parents</a><br/>
        <a href="/twinkle/children/">Children</a><br/>
        <a href="/twinkle/register">Register</a><br/>
        <a href="/twinkle/addpayments/">Payments</a>

    </div>
    </body>
</html>