{% extends 'twinkle/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Twinkles Day Care and Nursery School
{% endblock%}

{% block body_block %}
<h1>Twinkles Day Care and Nursery School</h1>
<h1>P.O BOX 342</h1>


<div>
    <strong>{{ message }}</strong>
</div>
{% endblock %}
