<!DOCTYPE html>
{% load staticfiles %}
{% load twinkle_template_tags %}
<html>
    <head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            Twinkles-
            
                We grow ,We laugh ,We learn
            
        </title>
        <style>
            table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                            }
        </style>
    </head>
    <body>
        <div>
            <h1>Requirements Defaulters</h1>
            <form action="{% url 'requirements_defaulters' %}" method="get">
                <label>From</label>
                <input name="StartDate" type="date" >
                <label>To</label>
                <input name="EndDate" type="date" >
               
                
                <input type="submit" name="submit" value="Search"/>
                </form>
                <table style="width: auto;">
                    <ul>
                    
                    <tr>
                        <th>childid</th>
                        <th>firstname</th> 
                        <th>lastname</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                    {% with balance=0 %}
                    {% endwith %}
                    {% for x in exact_list %}
                        
                        <tr>
                            
                            <td>{{ x.id}}</td>
                            <td>{{ x.firstname }} </td>
                            <td>{{ x.lastname }}</td>
                            <td>{{ x.amount }}</td>
                            {% with campus=x.campus %}
                            {% endwith %}
                            {% with time_of_study=x.time_of_study %}
                            {% endwith %}
                            {% with amount=x.amount %}
                            {% endwith %}
                            <td>{{ balance|check_requirements:x }}</td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
        <hr/>
        <div>
            <a href="{% url 'index' %}">Home</a><br/>
            <a href="/twinkle/about/">Leadership</a><br/>
            <a href="/twinkle/parents/">Parents</a><br/>
            <a href="/twinkle/children/">Children</a><br/>
            <a href="/twinkle/register/">Register</a><br/>
            <a href="/twinkle/addpayments/">Payments</a>
        </div>
    </body>
</html>