<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            Twinkles-
            
                We grow ,We laugh ,We learn
            
        </title>
        <style>
            table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                            }
        </style>
    </head>
    <body>
        <div>
            <h1>Enter Child id</h1>
            <form action="{% url 'show_payment_history' %}" method="get">
                <label>Childid</label>
                <input name="child" type="text" required placeholder="Childid..."><br/><br/>
                <label>From</label>
                <input name="StartDate" type="date" ><br/><br/>
                <labe>To</labe>
                <input name="EndDate" type="date" ><br/><br/>
                <input type="submit" name="submit" value="Search"/>
                
                </form>
                    {% for kid in skid %}
                        <strong>kid.firstname</strong>
                        <strong>kid.lastname</strong>
                    {% endfor%}
                <table style="width: auto;">
                    <ul>
                    
                    <tr>
                        <th>paymentid</th>
                        <th>childid</th>
                        <th>firstname</th>
                        <th>lastname</th>
                        <th>class</th>
                        <th>campus</th>
                        <th>time_of_study</th>
                        <th>amount</th>
                        <th>Date</th>
                        <th>bank</th>
                        <th>term</th>
                        <th>update</th>
                        <th>delete</th>
                       
                    </tr>
                    {% for pay in payment %}
                    <tr>
                        <td>{{ pay.id}} </td>
                        <td>{{ pay.child}} </td>
                        {% for toddler in kid %}
                            <td>{{ toddler.firstname }}</td>
                            <td>{{ toddler.lastname }}</td>
                            <td>{{ toddler.classlevel }}</td>
                            <td>{{ toddler.campus }}</td>
                            <td>{{ toddler.time_of_study}}</td>
                        {% endfor %}
                        <td>{{ pay.amount}} </td>
                        <td>{{ pay.date}} </td>
                        <td>{{ pay.bank}} </td>
                        <td>{{ pay.term}} </td>
                        <td><a href="/twinkle/update_show_payment_history/?id={{ pay.id }}">Update</a></td>
                        <td><a href="/twinkle/delete_show_payment_history/?id={{ pay.id }}">Delete</a></td>
                    </tr>
                    {% endfor %}
                
                </table>
    
                
                </ul>
        </div>
        <hr/>
        <div>
            <a href="{% url 'index' %}">Home</a><br/>
            <a href="/twinkle/about/">Leadership</a><br/>
            <a href="/twinkle/parents/">Parents</a><br/>
            <a href="/twinkle/children/">Children</a><br/>
            <a href="/twinkle/register/">Register</a><br/>
            <a href="/twinkle/addpayments/">Payments</a>
        </div>
    </body>
</html>