<!DOCTYPE html>
{% load staticfiles %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <title>Twinkles</title>
        <style>
            table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                            }
        </style>
    </head>
    <body>
        <h1>Parents</h1>
            
        <div class="main"> 
            <!-- Create a Form -->
            <form method="POST"> 
                <!-- Security token by Django -->
                {% csrf_token %} 
        
                <!-- form as paragraph -->
                {{ form.as_p }} 
        
                <input type="submit" value="Update"> 
            </form> 
        
        </div> 

       <hr/>
       <div>
        <a href="{% url 'index' %}">Home</a><br/>

        <a href="/twinkle/about/">Leadership</a><br/>
        <a href="/twinkle/parents/">Parents</a><br/>
        <a href="/twinkle/children/">Children</a><br/>
        <a href="/twinkle/register">Register</a><br/>
        <a href="/twinkle/addpayments/">Payments</a>

    </div>
    </body>
</html>