{% extends 'twinkle/base.html' %}
{% load staticfiles %}

{% block title_block %}
Twinkle Login
{% endblock %}
{% block body_block %}

        
            <h1>Login</h1>
            <div style="margin:0 auto;width:75%;text-align:center">
            <form id="user_form" method="POST" action="{% url 'user_login' %}" enctype="multipart/form-data">
                {% csrf_token %}

                Username: <input type="text" name="username" value="" size="50" />
                <br />
                Password: <input type="password" name="password" value="" size="50" />
                <br />
                
                <input type="submit" name="submit" value="Login"/>
            </form>
        </div>

{% endblock %}
